alSystem\Menus" and equal to "d:\Programming\cs\HospitalSystem"
[11:49:41 PM] [INFO] onDidChangeTextDocument()
[11:49:41 PM] [INFO] [data.ts] extractRepo(): "d:\Programming\cs\HospitalSystem" less than "d:\Programming\cs\HospitalSystem\Menus" and equal to "d:\Programming\cs\HospitalSystem"
[11:49:41 PM] [INFO] onDidChangeTextEditorSelection()
[11:49:41 PM] [INFO] [data.ts] extractRepo(): "d:\Programming\cs\HospitalSystem" less than "d:\Programming\cs\HospitalSystem\Menus" and equal to "d:\Programming\cs\HospitalSystem"
[11:49:41 PM] [INFO] onDidChangeTextDocument()
[11:49:41 PM] [INFO] [data.ts] extractRepo(): "d:\Programming\cs\HospitalSystem" less than "d:\Programming\cs\HospitalSystem\Menus" and equal to "d:\Programming\cs\HospitalSystem"
[11:49:41 PM] [INFO] onDidChangeTextEditorSelection()
[11:49:41 PM] [INFO] [data.ts] extractRepo(): "d:\Programming\cs\HospitalSystem" less than "d:\Programming\cs\HospitalSystem\Menus" and equal to "d:\Programming\cs\HospitalSystem"
[11:49:42 PM] [INFO] [activity.ts] repo button1#gitRemoteUrl:  isGit false
[11:49:42 PM] [INFO] [activity.ts] createButton(): enabled false
[11:49:42 PM] [INFO] [activity.ts] createButton(): enabled false
[11:49:42 PM] [INFO] [activity.ts] getPresenceButtons button1: Active {
  "validationError": ""
}
[11:49:42 PM] [INFO] [activity.ts] getPresenceButtons button2: Active {
  "validationError": ""
}
[11:49:42 PM] [INFO] onDidChangeTextEditorSelection()
[11:49:42 PM] [INFO] [data.ts] extractRepo(): "d:\Programming\cs\HospitalSystem" less than "d:\Programming\cs\HospitalSystem\Menus" and equal to "d:\Programming\cs\HospitalSystem"
[11:49:43 PM] [INFO] onDidChangeTextEditorSelection()
[11:49:43 PM] [INFO] [data.ts] extractRepo(): "d:\Programming\cs\HospitalSystem" less than "d:\Programming\cs\HospitalSystem\Menus" and equal to "d:\Programming\cs\HospitalSystem"
[11:49:43 PM] [INFO] onDidChangeTextEditorSelection()
[11:49:43 PM] [INFO] [data.ts] extractRepo(): "d:\Programming\cs\HospitalSystem" less than "d:\Programming\cs\HospitalSystem\Menus" and equal to "d:\Programming\cs\HospitalSystem"
[11:49:43 PM] [INFO] onDidChangeTextEditorSelection()
[11:49:43 PM] [INFO] [data.ts] extractRepo(): "d:\Programming\cs\HospitalSystem" less than "d:\Programming\cs\HospitalSystem\Menus" and equal to "d:\Programming\cs\HospitalSystem"
[11:49:43 PM] [INFO] onDidChangeTextEditorSelection()
[11:49:43 PM] [INFO] [data.ts] extractRepo(): "d:\Programming\cs\HospitalSystem" less than "d:\Programming\cs\HospitalSystem\Menus" and equal to "d:\Programming\cs\HospitalSystem"
[11:49:43 PM] [INFO] onDidChangeTextEditorSelection()
[11:49:43 PM] [INFO] [data.ts] extractRepo(): "d:\Programming\cs\HospitalSystem" less than "d:\Programming\cs\HospitalSystem\Menus" and equal to "d:\Programming\cs\HospitalSystem"
[11:49:43 PM] [INFO] onDidChangeTextEditorSelection()
[11:49:43 PM] [INFO] [data.ts] extractRepo(): "d:\Programming\cs\HospitalSystem" less than "d:\Programming\cs\HospitalSystem\Menus" and equal to "d:\Programming\cs\HospitalSystem"
[11:49:43 PM] [INFO] onDidChangeTextEditorSelection()
[11:49:43 PM] [INFO] [data.ts] extractRepo(): "d:\Programming\cs\HospitalSystem" less than "d:\Programming\cs\HospitalSystem\Menus" and equal to "d:\Programming\cs\HospitalSystem"
[11:49:43 PM] [INFO] onDidChangeTextEditorSelection()
[11:49:43 PM] [INFO] [data.ts] extractRepo(): "d:\Programming\cs\HospitalSystem" less than "d:\Programming\cs\HospitalSystem\Menus" and equal to "d:\Programming\cs\HospitalSystem"
[11:49:43 PM] [INFO] onDidChangeTextEditorSelection()
[11:49:43 PM] [INFO] [data.ts] extractRepo(): "d:\Programming\cs\HospitalSystem" less than "d:\Programming\cs\HospitalSystem\Menus" and equal to "d:\Programming\cs\HospitalSystem"
[11:49:43 PM] [INFO] onDidChangeTextEditorSelection()
[11:49:43 PM] [INFO] [data.ts] extractRepo(): "d:\Programming\cs\HospitalSystem" less than "d:\Programming\cs\HospitalSystem\Menus" and equal to "d:\Programming\cs\HospitalSystem"
[11:49:44 PM] [INFO] onDidChangeTextEditorSelection()
[11:49:44 PM] [INFO] [data.ts] extractRepo(): "d:\Programming\cs\HospitalSystem" less than "d:\Programming\cs\HospitalSystem\Menus" and equal to "d:\Programming\cs\HospitalSystem"
[11:49:44 PM] [INFO] onDidChangeTextEditorSelection()
[11:49:44 PM] [INFO] [data.ts] extractRepo(): "d:\Programming\cs\HospitalSystem" less than "d:\Programming\cs\HospitalSystem\Menus" and equal to "d:\Programming\cs\HospitalSystem"
[11:49:44 PM] [INFO] onDidChangeTextEditorSelection()
[11:49:44 PM] [INFO] [data.ts] extractRepo(): "d:\Programming\cs\HospitalSystem" less than "d:\Programming\cs\HospitalSystem\Menus" and equal to "d:\Programming\cs\HospitalSystem"
[11:49:44 PM] [INFO] [activity.ts] repo button1#gitRemoteUrl:  isGit false
[11:49:44 PM] [INFO] [activity.ts] createButton(): enabled false
[11:49:44 PM] [INFO] [activity.ts] createButton(): enabled false
[11:49:44 PM] [INFO] [activity.ts] getPresenceButtons button1: Active {
  "validationError": ""
}
[11:49:44 PM] [INFO] [activity.ts] getPresenceButtons button2: Active {
  "validationError": ""
}
[11:49:45 PM] [INFO] onDidChangeTextEditorSelection()
[11:49:45 PM] [INFO] [data.ts] extractRepo(): "d:\Programming\cs\HospitalSystem" less than "d:\Programming\cs\HospitalSystem\Menus" and equal to "d:\Programming\cs\HospitalSystem"
[11:49:45 PM] [INFO] onDidChangeTextEditorSelection()
[11:49:45 PM] [INFO] [data.ts] extractRepo(): "d:\Programming\cs\HospitalSystem" less than "d:\Programming\cs\HospitalSystem\Menus" and equal to "d:\Programming\cs\HospitalSystem"
[11:49:46 PM] [INFO] [activity.ts] repo button1#gitRemoteUrl:  isGit false
[11:49:46 PM] [INFO] [activity.ts] createButton(): enabled false
[11:49:46 PM] [INFO] [activity.ts] createButton(): enabled false
[11:49:46 PM] [INFO] [activity.ts] getPresenceButtons button1: Active {
  "validationError": ""
}
[11:49:46 PM] [INFO] [activity.ts] getPresenceButtons button2: Active {
  "validationError": ""
}
[11:49:46 PM] [INFO] onDidChangeTextEditorSelection()
[11:49:46 PM] [INFO] [data.ts] extractRepo(): "d:\Programming\cs\HospitalSystem" less than "d:\Programming\cs\HospitalSystem\Menus" and equal to "d:\Programming\cs\HospitalSystem"
[11:49:48 PM] [INFO] onDidChangeTextEditorSelection()
[11:49:48 PM] [INFO] [data.ts] extractRepo(): "d:\Programming\cs\HospitalSystem" less than "d:\Programming\cs\HospitalSystem\Menus" and equal to "d:\Programming\cs\HospitalSystem"
[11:49:48 PM] [INFO] onDidChangeTextEditorSelection()
[11:49:48 PM] [INFO] [data.ts] extractRepo(): "d:\Programming\cs\HospitalSystem" less than "d:\Programming\cs\HospitalSystem\Menus" and equal to "d:\Programming\cs\HospitalSystem"
[11:49:48 PM] [INFO] onDidChangeTextEditorSelection()
[11:49:48 PM] [INFO] [data.ts] extractRepo(): "d:\Programming\cs\HospitalSystem" less than "d:\Programming\cs\HospitalSystem\Menus" and equal to "d:\Programming\cs\HospitalSystem"
[11:49:48 PM] [INFO] onDidChangeTextEditorSelection()
[11:49:48 PM] [INFO] [data.ts] extractRepo(): "d:\Programming\cs\HospitalSystem" less than "d:\Programming\cs\HospitalSystem\Menus" and equal to "d:\Programming\cs\HospitalSystem"
[11:49:48 PM] [INFO] onDidChangeTextEditorSelection()
[11:49:48 PM] [INFO] [data.ts] extractRepo(): "d:\Programming\cs\HospitalSystem" less than "d:\Programming\cs\HospitalSystem\Menus" and equal to "d:\Programming\cs\HospitalSystem"
[11:49:48 PM] [INFO] onDidChangeTextEditorSelection()
[11:49:48 PM] [INFO] [data.ts] extractRepo(): "d:\Programming\cs\HospitalSystem" less than "d:\Programming\cs\HospitalSystem\Menus" and equal to "d:\Programming\cs\HospitalSystem"
[11:49:48 PM] [INFO] onDidChangeTextEditorSelection()
[11:49:48 PM] [INFO] [data.ts] extractRepo(): "d:\Programming\cs\HospitalSystem" less than "d:\Programming\cs\HospitalSystem\Menus" and equal to "d:\Programming\cs\HospitalSystem"
[11:49:48 PM] [INFO] onDidChangeTextEditorSelection()
[11:49:48 PM] [INFO] [data.ts] extractRepo(): "d:\Programming\cs\HospitalSystem" less than "d:\Programming\cs\HospitalSystem\Menus" and equal to "d:\Programming\cs\HospitalSystem"
[11:49:48 PM] [INFO] [activity.ts] repo button1#gitRemoteUrl:  isGit false
[11:49:48 PM] [INFO] [activity.ts] createButton(): enabled